.about_row {
  display: flex;
  width: 80%;
}
.about_text_container {
  width: 70%;
  padding: 10px 20px;
  color: #025273;
}
.about_head {
  font-size: 26px;
  font-weight: 700;
}
.about_text {
  font-size: 16px;
}
.about_row img {
  width: 30%;
}
.row_container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  margin-bottom: 25px;
  background-color: #e7eff5;
  padding: 20px 0;
}
.grid_row {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}
.founders_container {
  display: flex;
  justify-content: center;
}
.grid_container {
  width: 80%;
}
.each_grid {
  height: 250px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.each_grid img {
  min-height: 250px;
  height: 80%;
  width: 70%;
}
.founders_head {
  color: #013d5e;
  font-size: 30px;
  font-weight: 700;
}
.grid_text {
  color: #000000;
  font-size: 19px;
  font-weight: 800;
}
.grid_text_2 {
  color: #565859;
  font-size: 15px;
}
.achievements_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px 10px;
  margin-bottom: 50px;
}
.achievements_container::before {
  content: "";
  background-image: url("../../Assets/Images/achievements.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}
.achievements_head {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 32px;
  position: relative;
  margin-bottom: 50px;
}
.achievements_text {
  position: relative;
  color: var(--primary-color);
  font-size: 14px;
}
.middle_text {
  width: 80%;
}
.vision_mission_container {
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vision_head {
  color: var(--primary-color);
  font-size: 35px;
  font-weight: 800;
  text-decoration: underline;
}
.vision_img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.each_block {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 80%;
  background-color: white;
  box-shadow: 5px 5px 5px 0px #1a237e;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  padding: 15px;
  border-right: 30px solid #20e162;
  margin-bottom: 25px;
}
.each_block2 {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: white;
  box-shadow: 5px 5px 5px 0px #1a237e;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  padding: 15px;
  border-left: 30px solid #00b9f4;
  margin-bottom: 25px;
}
.vision_head {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 23px;
}
.our_services {
  display: flex;
  justify-content: center;
}
.services_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_head {
  font-size: 23px;
  font-weight: 800;
  color: var(--primary-color);
}
.each_service_flex_container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.each_service {
  width: 45%;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 12px;
}
.each_service_text_container {
  display: flex;
  gap: 10px;
  padding: 5px;
  border-bottom: 2px solid white;
}
.each_service_text_container img {
  height: 100%;
  width: 50%;
  border-radius: 5px;
}
.each_service_head {
  font-weight: 900;
  text-decoration: underline;
  width: 50%;
}
.each_service_text {
  font-size: 15px;
}
.conclusion_service_text {
  font-size: 18px;
  color: var(--primary-color);
}
@media screen and (max-width: 1000px) {
  .about_row {
    flex-direction: column;
    align-items: center;
  }
  .about_row img {
    width: 60%;
  }
  .about_text_container {
    width: 100%;
  }
  .about_head {
    font-size: 22px;
    font-weight: 700;
  }
  .about_text {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .about_row {
    flex-direction: column;
  }
  .about_row img {
    width: 80%;
  }
  .about_head {
    font-size: 18px;
    font-weight: 700;
  }
  .about_text {
    font-size: 12px;
  }
  .each_grid img {
    max-height: 100px;
  }
  .each_grid {
    width: 60%;
  }
  .each_block,
  .each_block2 {
    flex-direction: column;
  }
  .each_service {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .each_grid {
    width: 100%;
  }
  .each_service_head {
    font-size: 19px;
  }
}
