.landing_image_bg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 610px;
  margin-bottom: 50px;
}
.linear_gradient_container3 {
  padding-bottom: 50px;
}

.linear_gradient_container {
  height: 100%;
  display: flex;
  align-items: center;
}
.linear_gradient_container img {
  height: 45%;
  width: 45%;
}
.text_container {
  padding-top: 100px;
  width: 40%;
  margin-left: 100px;
}
.text_container h1 {
  font-size: 80px;
  color: white;
  font-weight: 800;
}

.landing_bg_text {
  font-size: 70px;
  color: #ffd146 !important;
  font-weight: 800;
}
.small_text {
  color: white;
}

.join_btn {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  width: 162px !important;
  height: 41px;
  background: #024263;
  border-radius: 42px;
  color: white;
  border: none;
  outline: none;
}

.intro_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

.intro_card {
  width: 80%;
  background: linear-gradient(to right, #004973, #106a9e, #4da5d1);
  display: flex;
  align-items: center !important;
  color: white !important;
  padding: 20px 20px;
  margin-top: 50px;
}

.ball {
  height: 100%;
  width: 50%;
  background-image: url("../../Assets/Images/introCard.png");
  mix-blend-mode: color-burn;
  opacity: 0.7;
}

.intro_text {
  font-size: 32px;
  z-index: 80;
  width: 250%;
}

.vertical_line {
  transform: rotate(90deg);
  border: 1px solid white;
  width: 90%;
}

.intro_small_text {
  font-size: 12px;
  font-weight: 300 !important;
  width: 200%;
}

.upcoming_events_container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

.upcoming_events_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 10px 75px;
}

.img_container {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq-wRk5ZG_cwmrI8GTsKWBrksW3FyxKe6SmA&usqp=CAU");
  border-radius: 50%;
  background-size: cover;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img_container img {
  height: 400px;
  width: 100%;
  margin-top: -50px !important;
}

.upcoming_text_container {
  width: 40%;
}

.upcoming_head {
  color: #025273;
  font-size: 27px;
  font-weight: 800;
}
.upcoming_text {
  color: #024264;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400 !important;
  font-size: 16px;
}
.videos_grid_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}
.videos_grid_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  height: 80%;
  width: 80%;
}
.linear_gradient_container2 {
  background: #026585;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}
.each_video_item {
  height: 300px;
  width: 33%;
}
.each_video_item img {
  height: 100%;
  width: 100%;
}
.black_line {
  height: 50px;
  background-color: black;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.black_line img {
  width: 50px;
  height: 10px;
}
.mikasa_img {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 60px;
}
.mikasa_img img {
  height: 300px;
  width: 50%;
}
.promotions_container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  margin-bottom: -59px;
}
.promotions_card {
  width: 80%;
  display: flex;
  height: 100%;
  padding: 5px 5px;
}
.promotions_card img {
  width: 40%;
}
.promotions_text_container {
  background-color: #0a709c;
  width: 60%;
}
#fivb .linear_gradient_container3 .text_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
}
.promotions_center_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: white;
  padding-left: 50px;
}
.promotions_text {
  font-size: 20px;
}
.last_line {
  display: flex;
  align-items: center;
  gap: 25px;
}
.register_btn_in_promotions {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 10px 18px;
  color: #025273;
  display: flex;
  align-items: center;
  gap: 15px;
}
.linear_gradient_container .img_container2 {
  display: flex;
  align-items: center;
  height: 100%;
}
.abstract_container {
  display: flex;
  flex-direction: column;
}
.miramir_img {
  height: 400px !important;
  width: 700px !important;
  margin-left: -180px;
}
.yellow_img1,
.yellow_img2,
.yellow_img3,
.yellow_img1a,
.yellow_img2a,
.yellow_img3a {
  height: 80px !important;
  width: 150px !important;
}
.yellow_img1,
.yellow_img2 {
  margin-right: -50px;
}
.pointer {
  margin-bottom: -270px;
  margin-left: -220px;
  z-index: 100;
}
.yellow_img1a,
.yellow_img2a {
  margin-left: -60px;
}
.yellow_img3 {
  margin-right: -200px;
}
.yellow_img3a {
  margin-left: -200px;
}
.miramir_img2 {
  width: 500px !important;
  height: 450px !important;
  z-index: 99;
}
.miramir_img3 {
  width: 500px !important;
  height: 350px !important;
  z-index: 99;
}
.mikasa_img {
  display: flex;
  justify-content: center;
}
.small_text2 {
  color: white !important;
  font-size: 23px;
  width: 60%;
}
@media screen and (max-width: 1040px) {
  .promotions_text {
    font-size: 15px;
  }
  .landing_bg_text {
    font-size: 45px;
  }
  .text_container h1 {
    font-size: 55px;
  }
  .small_text {
    font-size: 12px;
  }
}
@media screen and (max-width: 945px) {
  .text_container {
    width: 60%;
  }
  .promotions_text {
    font-size: 13px;
  }
  .register_btn_in_promotions {
    padding: 5px 10px;
    gap: 5px;
  }
  .each_video_item {
    height: 200px;
  }
  .videos_grid_container {
    height: 40vh;
  }
  .intro_text {
    font-size: 20px;
  }
  .intro_small_text {
    font-size: 8px;
  }
  .linear_gradient_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text_container {
    width: 100% !important;
  }
  .linear_gradient_container .img_container2 {
    width: 100% !important;
  }
  .miramir_img {
    height: 220px !important;
    width: 650px !important;
    margin-left: 100px;
  }
  .miramir_img2 {
    height: 350px !important;
    width: 400px !important;
  }
  .pointer {
    margin-bottom: -170px;
    margin-left: -200px;
    z-index: 100;
  }
}

@media screen and (max-width: 800px) {
  .promotions_text {
    font-size: 10px;
  }
  .register_btn_in_promotions {
    font-size: 8px;
  }
  /* .landing_image_bg {
      margin-top: 160px;
    } */
  .small_text2 {
    font-size: 18px;
    width: 80%;
  }
  .landing_bg_text {
    font-size: 36px;
  }
  .intro_text {
    font-size: 18px;
  }
  .intro_small_text {
    font-size: 5px;
  }
  .img_container {
    height: 200px;
    width: 200px;
    width: 30%;
  }
  .img_container img {
    height: 250px;
    width: 150px;
  }
  .upcoming_text_container {
    width: 60%;
  }
  .upcoming_head {
    font-size: 18px;
  }
  .upcoming_text {
    font-size: 10px;
  }
  .upcoming_events_container {
    height: 50vh;
  }
  .each_video_item {
    height: 150px;
  }
  .linear_gradient_container2 img {
    height: 50px;
    width: 50px;
  }
  .mikasa_img img {
    height: 120px;
    width: 30%;
  }
  .miramir_img {
    height: 270px !important;
    width: 600px !important;
    margin-left: 30px;
  }
  .pointer {
    margin-bottom: -170px;
    margin-left: -170px;
    z-index: 100;
  }
}

@media screen and (max-width: 600px) {
  .promotions_center_text {
    padding-left: 15px;
    gap: 0px;
  }
  .promotions_container {
    margin-bottom: 50px;
    padding: 25px 10px;
  }
  .miramir_img {
    height: 220px !important;
    width: 450px !important;
    margin-left: 10px;
  }
  .pointer {
    margin-bottom: -170px;
    margin-left: -200px;
    z-index: 100;
  }
}

@media screen and (max-width: 500px) {
  .landing_bg_text {
    font-size: 25px;
  }
  .small_text2 {
    font-size: 14px;
    width: 100%;
  }
  .text_container .small_text {
    font-size: 12px;
  }
  .vertical_line {
    width: 120%;
  }
  .mikasa_img img {
    height: 150px;
  }
  .register_btn_in_promotions {
    font-size: 8px;
    gap: 5px;
    padding: 5px 5px;
  }
  .promotions_text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 500;
    text-align: center;
  }
  .last_line {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .text_container {
    margin-left: 0px;
    padding-left: 20px;
  }
  .upcoming_events_row {
    flex-direction: column;
  }
  .upcoming_events_container {
    height: 100vh;
  }
  .intro_card {
    flex-direction: column;
    padding: 25px 15px;
    width: 100%;
  }
  .vertical_line {
    transform: none;
    width: 150px;
  }
  .intro_small_text {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  .intro_text {
    width: 70%;
    text-align: center;
  }
  .promotions_card {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .promotions_container {
    flex-direction: column;
  }
  .promotions_card img {
    width: 70%;
  }
  .promotions_text_container {
    width: 70%;
  }
  .promotions_center_text {
    padding: 25px 15px;
    background: linear-gradient(to right, #01415c, #399fcb);
    align-items: center;
  }
  .miramir_img2 {
    height: 250px !important;
    width: 300px !important;
  }
  .miramir_img3 {
    height: 220px !important;
    width: 290px !important;
  }
  .miramir_img {
    height: 160px !important;
    width: 350px !important;
    margin-left: -25px;
  }
  .pointer {
    margin-bottom: -170px;
    margin-left: -140px;
    z-index: 100;
  }
}
@media screen and (max-width: 426px) {
  .promotions_text {
    font-size: 7px;
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 2px 0px;
  }
  .promotions_center_text {
    padding-top: 5px;
  }
  .intro_card_container {
    margin-bottom: 250px;
  }
  .each_video_item {
    height: 80px;
  }
  .img_container {
    height: 250px !important;
    width: 250px !important;
  }
  .img_container img {
    height: 300px;
    width: 250px;
  }
  .upcoming_events_container {
    height: 90vh;
    margin-bottom: 15px !important;
    margin-top: 100px !important;
  }
  .upcoming_events_row {
    justify-content: center;
    padding: 25px 25px;
  }
  .register_btn_in_promotions {
    font-size: 5px;
  }
  .miramir_img {
    height: 170px !important;
    width: 350px !important;
    margin-left: 0px;
  }
  .pointer {
    margin-bottom: -110px;
    margin-left: -120px;
    z-index: 100;
  }
}
@media screen and (max-width: 376px) {
  .miramir_img {
    width: 310px !important;
    margin-left: -45px;
  }
  .pointer {
    margin-bottom: -110px;
    margin-left: -100px;
    z-index: 100;
  }
}
span.carousel-control-next-icon {
  border: 1px solid white;
  padding: 15px 15px;
  border-radius: 50%;
  z-index: 99999999999 !important;
}
span.carousel-control-prev-icon {
  border: 1px solid white;
  padding: 15px 15px;
  border-radius: 50%;
}
