/* the main container */
.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: fixed;
  background-color: #ffffff;
  z-index: 200;
  width: 100%;
}
.search_input_container input {
  border-radius: 42px;
  background-color: white;
  height: 42px;
  width: 200px;
  outline: none;
  border: none;
  padding: 5px 25px;
}

@media screen and (min-width: 1080px) {
  .menu_item {
    font-size: 17px !important;
    font-weight: 700;
    color: rgb(59, 57, 57);
  }
}
@media screen and (min-width: 1000px) {
  .logo_social_media_icons_container {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .social_media_icons_container {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .menu_items_container {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style-type: none;
  }
  .menu_item {
    font-size: 12px;
    font-weight: 700;
    color: rgb(59, 57, 57);
  }
  .logo_container {
    height: 80px;
    width: 90px;
  }
  .logo_img {
    height: 100%;
    width: 100%;
  }
  .login_btn_container .login_btn {
    height: 42px;
    width: 162px;
    background-color: #013b5c;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 42px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .medium_devices_side_menu {
    display: none;
  }
  .search_input_container {
    position: absolute;
    top: 100px;
    right: 10px;
    border-radius: 42px;
  }
}
@media screen and (max-width: 1000px) {
  .logo_social_media_icons_container {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .menu_items_container {
    display: none;
  }
  .medium_devices_menu_items_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .medium_devices_menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: rgb(59, 57, 57);
    padding: 5px 20px;
    width: 100%;
  }
  .medium_devices_login_btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .medium_devices_login_btn_container .login_btn {
    height: 42px;
    width: 162px;
    background-color: #013b5c;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 42px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .login_btn_container {
    display: none;
  }
  .logo_container {
    height: 70px;
    width: 85px;
  }
  .logo_img {
    height: 100%;
    width: 100%;
  }
  .medium_devices_side_menu {
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 60%;
    z-index: 999;
  }
  .side_menu_logo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 50px;
  }
  .side_menu_logo_img {
    height: 65px;
    width: 85px;
  }
  .search_input_container {
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_input_container input {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .logo_container {
    height: 50px;
    width: 60px;
  }
  .logo_img {
    height: 100%;
    width: 100%;
  }
  .medium_devices_side_menu {
    width: 60%;
  }
  .side_menu_logo_container {
    margin: 10px 0;
  }
  .medium_devices_login_btn_container {
    margin: 10px 0;
  }
}
@media screen and (max-width: 425px) {
  .social_media_icons_container {
    display: none;
  }
  .medium_devices_side_menu {
    width: 80%;
  }
}
