* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #003a77;
  --secondary-color: #666a6c;
  --dark-color: #00158c;
  --light-color: #608bb3;
  --light-grey-color: #928d8d;
  --font-weight-normal: 700;
  --font-weight-small: 500;
  --black: #17171a;
  --white: #f8f8f8;
}
.middle_content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 106, 27);
  padding: 15px;
  height: 100%;
}
.middle_content h1 {
  font-size: 25px;
  font-weight: 700;
  font-family: cursive;
}
.carousel {
  width: 100%;
  height: 100%;
}
.inner_row {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 95%;
}
.pointer {
  animation-name: shuffle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.3s;
}
@keyframes shuffle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateX(10px);
  }
}
.logosInEvents {
  animation-name: moveUpDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}
@keyframes moveUpDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

.logosInEvents2 {
  animation-name: moveUpDown2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}
@keyframes moveUpDown2 {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}
.invalid-feedback {
  color: rgb(212, 3, 3);
  font-size: 14px;
}
.is-invalid {
  border: 2px solid rgb(212, 1, 1);
}
