.gallery_container {
  margin-bottom: 50px;
  padding-top: 90px;
}
.top_part_container1 {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 55px 10px;
  margin-bottom: 50px;
}
.top_part_container1::before {
  content: "";
  background-image: url("https://img.freepik.com/free-photo/people-playing-volleyball_1122-1307.jpg?1&w=900&t=st=1683465659~exp=1683466259~hmac=3a175be5e582fd015475d30f221a68f71d2fcbeeafd756ae66579e864f3a3b23");
  background-size: cover;
  background-position: center;
  opacity: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.top_part_container img {
  height: 100%;
}
.line1 {
  margin-right: -100px;
}
.line3 {
  margin-right: -100px;
}
.gallery_text_container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  padding-left: 50px;
  position: absolute;
}
.gallery_text_container2 {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  padding-left: 50px;
}
.gallery_head {
  font-size: 35px;
  font-weight: 700;
  color: rgb(0, 32, 103);
  padding: 10px 20px;
  border-radius: 9px;
  width: 25%;
}
.gallery_text {
  font-size: 15px;
  font-weight: 400;
  color: rgb(0, 47, 100);
  padding: 10px 20px;
  border-radius: 9px;
  width: 70%;
}
.gallery_middle_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 25px 15px;
}
.gallery_middle_text {
  width: 80%;
  text-align: center;
  color: #024264;
  font-size: 14px;
}
.images_row_container {
  display: flex;
  justify-content: center;
}
.inner_images_row {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.inner_images_row img {
  width: 30%;
  height: 250px;
}
.shady_img1 {
  background-image: url("https://mvasports.com/images/2019/7/11/2_11_16_Sand_Volley_356.JPG");
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 250px;
}
.shady_img2 {
  background-image: url("https://volleycountry.com/wp-content/uploads/2022/06/dubai-volleyball.jpg");
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 250px;
}
.blue_gradient {
  background: linear-gradient(rgb(41, 41, 228), rgb(112, 167, 192));
  height: 100%;
  opacity: 0.5;
}
.view_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 162px !important;
  height: 41px;
  background: #024263;
  border-radius: 42px;
  color: white;
  border: none;
  outline: none;
}
.events_head {
  color: var(--primary-color);
  font-weight: 700;
}
.big_box {
  min-height: 200vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.round_container {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #141d2b;
  margin-bottom: -10%;
  z-index: 50;
}
.round_container img {
  height: 60%;
  width: 60%;
}
.main_calendar {
  background-image: url("../../Assets/Images/calendarBg.png");
  background-size: cover;
  height: 95%;
  width: 100%;
  padding: 25px 50px;
  padding-top: 15% !important;
}
.calendar_grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
.calendar_item {
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date_container {
  background-color: #141d2b;
  padding: 2px 15px;
  color: white;
  font-size: 12px;
  margin-bottom: -10px;
  z-index: 50;
}
.country_container {
  background-color: #ffffff;
  width: 100%;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  padding-top: 5%;
  font-style: italic;
}
.country_container .city {
  font-size: 13px;
  font-weight: 600;
  margin: 0 0;
}
.country_container .country {
  font-size: 16px;
  font-weight: 900 !important;
  margin: 0 0;
}
.last_calendar_item {
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.last_blue_item {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.white_bg_item {
  width: 500px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
  border: 1px solid black;
  font-style: italic;
  font-weight: 800;
  padding: 10px 45px;
}
.item {
  height: 100%;
  display: flex;
  align-items: center;
}
.item p {
  font-size: large;
  margin: 0 0;
}
.white_bg_item .item:nth-child(1) {
  color: #b9404c;
}
.white_bg_item .item:nth-child(2) {
  color: #ffd146;
}
.white_bg_item .item:nth-child(3) {
  color: #5518a5;
}
.top_part_container_with_logos {
  min-height: 80vh;
  width: 100%;
  background-color: rgb(252, 245, 245);
  display: flex;
  align-items: center;
}
.logos_flex_container {
  display: flex;
  justify-content: space-between;
  padding: 0 0;
}
.top_part_logo_container {
  height: 200px;
  width: 25%;
  padding: 25px 50px;
}
.top_part_logo_container img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}
@media screen and (min-width: 1440px) {
  .line1 {
    margin-right: -150px;
  }
  .line3 {
    margin-right: -150px;
  }
  .big_box {
    min-height: 180vh !important;
  }
}
@media screen and (max-width: 1440px) {
  .line1 {
    margin-right: -100px;
  }
  .line3 {
    margin-right: -120px;
  }
}
@media screen and (max-width: 850px) {
  .line1,
  .line2,
  .line3,
  .line4 {
    display: none;
  }
  .gallery_text_container {
    width: 60%;
  }
  .gallery_head {
    font-size: 25px;
  }
  .gallery_text {
    font-size: 10px;
  }
  .gallery_image {
    width: 50%;
  }
  .gallery_middle_text {
    font-size: 12px;
  }
  .inner_images_row img {
    height: 100px;
  }
  .shady_img1 {
    height: 100px;
  }
  .shady_img2 {
    height: 100px;
  }
  .big_box {
    width: 80%;
  }
  .calendar_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
  }
  .top_part_logo_container {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .round_container {
    height: 100px;
    width: 100px;
  }
  .calendar_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(21, 1fr);
  }
  .date_container,
  .country_container .city,
  .country_container .country {
    font-size: 8px;
  }
  .calendar_item {
    height: 60px;
    width: 150px;
  }
  .white_bg_item {
    width: 220px;
    padding: 10px 20px;
  }
  .item p {
    font-size: 10px;
  }
  .last_calendar_item {
    width: 170px;
  }
  .logos_flex_container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
  }
  .gallery_text_container,
  .gallery_text_container2 {
    width: 100%;
  }
  .top_part_logo_container {
    height: 170px;
    width: 70%;
  }
}
